rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /daily-halachot/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.email == 'skilead770@gmail.com';
    }

    match /{allPaths=**} {
      allow read: if false;
      allow write: if false;
    }
  }
}
